<!DOCTYPE html>
<html>
  <head>
    <title>Event Lister</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/x-icon" href="https://eventlister-hmg.herokuapp.com/assets/favicon-ee85040e4691cc625a8a57e9741f4d060a1900474a31b48fbf56f69bbe706ef1.png">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  </head>

  <body style="position: relative">
    <%= yield %>
  </body>


</html>
